.content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: var(--dark-secundary-color);
    padding: 0 1rem 0 1rem;
}

.logo, .config {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--primary-color);
    padding: .5rem;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.logo:hover, .config:hover {
    background-color: var(--primary-hover-color);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    cursor: pointer;
    padding: 0 2rem;
    margin: 0;
}