<div class="content">
  <div class="ag-courses_item" (click)="startGame()">
    <div class="ag-courses-item_link">
      <div class="ag-courses-item_bg"></div>
      <div class="ag-courses-item_title">JUGAR</div>
      <p>
        Adivina tantas palabras<br />como quieras, con la<br />dificultad que
        quieras
      </p>
      <img class="ag-courses-item-info" src="abc-block.png" alt="play" />
    </div>
  </div>

  <div class="ag-courses_item" (click)="startDaily()">
    <div class="ag-courses-item_link">
      <div class="ag-courses-item_bg"></div>
      <div class="ag-courses-item_title">DAILY</div>
      <p>Realiza el reto diario<br />adivina la palabra del dia</p>
      <img class="ag-courses-item-info" src="planner.png" alt="daily" />
    </div>
  </div>

  <div class="ag-courses_item" (click)="searchWord()">
    <div class="ag-courses-item_link">
      <div class="ag-courses-item_bg"></div>
      <div class="ag-courses-item_title">BUSCAR</div>
      <p>Busca la palabra que quieras</p>
      <img class="ag-courses-item-info" src="search.png" alt="?" />
    </div>
  </div>
</div>
